@font-face {
    src: url('../font/Palanquin-Bold.ttf');
    font-family: 'PalanquinBold';
}

@font-face {
    src: url('../font/Palanquin-Regular.ttf');
    font-family: 'PalanquinRegular';
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	outline: none;
	flex-shrink: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: scroll;
    font-family: 'PalanquinRegular', Arial;
}

.main-container {
	width: 100%;
	height: 100%;
	overflow-x: hidden!important;
	display: flex;
	flex-flow: column nowrap;
}

.flat-input {
	background-color: rgba(255, 255, 255, .5);
	width: calc(100% - 120px);
	margin-left: 30px;
	margin-right: 30px;
	height: 40px;
	border: 0;
	color: white;
}

input {
	flex-shrink: 0;
}

.flat-input::placeholder {
	color: #eeeeee;
}

.flat-button {
	background-color: #34d391;
	height: 40px;
	width: calc(100% - 60px);
	margin-left: 30px;
	margin-right: 30px;
	color: white;
	font-weight: bold;
	border: 0;
}

.flat-button:active {
	background-color: #2ca16b;
}

#menu {
    background-color: #293a4c;
}

#menu:active {
    background-color: #141c29;
}

.menu-item {
	cursor: pointer;
}

.menu-item:active {
	background-color: #245f8d;
}

.button1 {
	background: linear-gradient(to right, #fc4a1a, #f7b733);
	border-radius: 10px;
	border: 0;
	height: 40px;
	color: white;
	font-family: PalanquinBold;
}

.button1:active {
	background: linear-gradient(to left, #fc4a1a, #f7b733);
}

label{
	color:#777;
	display:inline-block;
	margin-right:20px;
}


span.big {
	background-color: #22262B;
	border-radius: 50% 50% 50% 50%;
	display: inline-block;
	height: 12px;
	margin-bottom: -11px;
	margin-right: 9px;
	padding: 8px;
	position: relative;
	top: -3px;
	width: 12px;
}
span.small {
	border-radius: 50% 50% 50% 50%;
	display: block;
	height: 100%;
	transition: background 0.4s ease 0s;
	width: 100%;
}
input[type="radio"]:checked + label {
	color: #FFFFFF;
}
input[type="radio"]:checked + label span.small {
	background-color: rgba(52, 152, 219, .8);
	opacity: 1;
}

.circle .big{
	height:8px;
	width: 8px;
	padding : 4px;
	border:2px solid deepskyblue;
}

input[type="radio"]:checked + label.circle span.small {
	background-color :skyblue;
}

.radio-input {
	display: none;
}

.input1 {
	width: 87%;
	background-color: #eeeeee;
	height: 30px;
	border-radius: 1px;
	border: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.button4 {
	background-color: #2270f3;
	color: white;
	height: 40px;
	border-radius: 20px;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 17px;
	cursor: pointer;
	transition: background-color .1s;
}

.button4:hover {
	background-color: #226cdf;
}

.button4:active {
	background-color: #1b5bc7;
}

.button5 {
	background-color: #e74c3c;
	color: white;
	border-radius: 20px;
	border: 0;
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 17px;
	cursor: pointer;
	transition: background-color .1s;
}

.button5:hover {
	background-color: #d04536;
}

.button5:active {
	background-color: #b43a2d;
}
